<div class="container-fluid p-2 pt-5" style="width:40%">
  <h1 class="mb-4"> Messages! </h1>

<ul class="list-group">
  {{#each messages}}
    <li class="list-group-item">
      <p> <strong> {{contact.name}}</strong><br>
         {{content}} <br>
      <small class="text-muted"> Sent from <strong> {{from}}</strong>  via {{channel}} at {{created}}</small>
      </p>
    </li>
  {{/each}}
</ul>
  <a role="button" class="btn btn-success mt-1 mb-1" href='/contacts'>Back to Contacts</a>
</div>
